<h1>Arquivos para o conjunto de dados: <%= @initial_input.title %></h1>

<div style="margin: 10px 0px 20px 0px; float: right;">
  <%= link_to 'Novo Arquivo', new_data_file_path(:initial_input_id => @initial_input), :class => 'btn-large btn-primary' %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Merge Files</td>
      <td>Arquivo</td>
      <td>File name</td>
      <td>Header</td>
      <td>Editar</td>
      <td>Remover</td>
    </tr>
  </thead>
  <%= form_for @merge_files, :url => { :action => "new", :controller => 'merge_files' }, :html => { :method => 'get' }, multipart: true do %>
    <% @initial_input.data_files.each do |data_file| %>
    <tr>
      <td><%= check_box_tag("ids[]", data_file.id) %></td>
      <td><%= link_to data_file.title, data_file.csvfile_url.to_s %></td>
      <td><%= data_file.upload_file_name %></td>
      <td><%= data_file.header %></td>
      <td><%= link_to(raw('<i class="icon-pencil icon-white"></i>'), edit_data_file_path(data_file), :class => 'btn btn-mini btn-warning') %></td>
      <td><%= link_to raw('<i class="icon-remove icon-white"></i>'), data_file, :confirm => 'Tem certeza?', :method => :delete, :class => 'btn btn-danger btn-mini' %></td>
    </tr>
    <% end %>
    <tr><%= submit_tag "Merge" %></tr>
  <% end -%>
</table>

<p>
  <%= link_to "Ver conjunto de dados", initial_inputs_path %>
</p>